<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/adminDashboardStyle.css" />
    <title>Admin Dashboard</title>
  </head>
  <body>
    <%- include('partials/header.ejs') -%>

    <div class="Linkscontainer">
      <a href="/adminDashboard-users">
        <div class="linkBox">
          <p>Users</p>
        </div>
      </a>
      <a href="#">
        <div class="linkBox">
          <p>Countries</p>
        </div>
      </a>
      <a href="#">
        <div class="linkBox">
          <p>Universities</p>
        </div>
      </a>
      <a href="#">
        <div class="linkBox">
          <p>Faculties</p>
        </div>
      </a>
    </div>
  </body>
</html>
