<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/signupPageStyle.css">
  <link rel="icon" type="image/png" sizes="32x32" href="/logo.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/logo.png" />
  <link rel="manifest" href="/site.webmanifest" />
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
  <meta name="msapplication-TileColor" content="#da532c" />
  <meta name="theme-color" content="#ffffff" />
  <title>Study Help - Signup</title>
</head>
<body>

  <%- include('partials/header.ejs') -%>

  <div class="firstContainer">
    <p>Join us!</p>
  </div>

  <div class="formContainer">
    <form action="submit" id="signUpForm">
      <div>
        <div class="email error"></div>
        <input type="text" placeholder="Email" class="emailForm" id="userEmail" name="email" required>
      </div>
      <div>
        <div class="password error"></div>
        <input type="password" placeholder="password" class="passwordForm" id="userPassword" name="password" required>
      </div>
      <div>
        <input type="text" placeholder="Full Name" class="fullNameform" id="userFullName" name="fullName" required>
      </div>
      <!-- <div>
        <input type="text" placeholder="Country" class="countryForm" id="userCountry" required>
      </div> -->
      <!-- <div>
        <input type="text" placeholder="Date of birth" class="dateForm" id="userBirthDate" required>
      </div> -->
        <input type="submit" value="Sign Up" class="signupButton">
      </div>
    </form>
  </div>
  <script>
    const form = document.querySelector("form");
    const emailError = document.querySelector(".email.error");
    const passwordError = document.querySelector(".password.error");
    const url = "http://localhost:3000/user/signup";

    form.addEventListener("submit", async (e) => {
      e.preventDefault();

      //Reset errors
      emailError.textContent = "";
      passwordError.textContent = "";

      //Get the values
      const email = form.email.value;
      const password = form.password.value;
      const fullName = form.fullName.value;

      try {
        const res = await fetch(url, {
          method: "POST",
          body: JSON.stringify({ email, password, fullName }),
          headers: { "Content-Type": "application/json" },
        });
        const data = await res.json();
        console.log(data);
        if (data.errors) {
          emailError.textContent = data.errors.email;
          passwordError.textContent = data.errors.password;
        }
        if (data.user) {
          location.assign('/login');
        }
      } catch (err) {
        console.log(err);
      }
    });

  </script>
</body>
</html>